span{
    color: orange;
}

section{
    /* background-color:yellow; */
    background-image: url("../images/main-visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* ポジション 左右 上下 */
    background-position: center center;
    /* 高さ */
    height: 400px;
    /* 幅 */
    width: 100%;
}

div{
    /* 最大でも1000pxまで */
    max-width:1000px;
}

p{
    color: white;
}

a{
    color: white;
    /* 背景色をオレンジ */
    background-color: orange;
    /* 下線を無くす */
    text-decoration: none;
    /* 太字 */
    font-weight: bold;
    /* 内側の余白 */
    padding:3% 5%; /*上下 左右*/
    /* 角の丸み 左上 右上 右下 左下*/
    border-radius: 8px;
}